.buscador{
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid rgb(13, 13, 65);
  border-radius: 20px;
  padding: 6px 12px;
}

.buscador input{
  flex: 1;
  border: none;
  font-size: 16px;
}

.buscador input:focus{
  outline: none;
}

.ordenar{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ordenar select{
  padding: 6px;
  font-size: 14px;
  border: 2px solid rgb(13, 13, 65);
  border-radius: 5px;
}

@media (max-width: 599px){
  .ordenar{
    flex-direction: column;
  }
}
