.input-tarea{
  border: 3px solid rgb(1, 26, 1);
  width: 80%;
  height: 60px;
  padding: 5px;
  font-size: 25px;
}

.input-tarea:focus{
  outline: none;
}

.mensaje-error{
  margin: 0;
}

.agregar-tarea{
  height: 60px;
  width: 20%;
  border: 2px solid rgb(1, 26, 1);
  background-color: rgb(1, 26, 1);
  color: white;
  font-size: 25px;
  cursor: pointer;
}