.contenedor-tarea{
  width: 100%;
  max-width: 600px;
  height: fit-content;
  font-size: 25px;
  background-color: rgb(13, 13, 65);
  color: white;
  padding: 0 15px;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completado{
  background-color: orange;
  color: red;
  text-decoration: line-through;
}

.contenedor-texto{
  width: 90%;
  height: 100%;
  cursor: pointer;
  display: flex;
  overflow-wrap: anywhere
}

.contenedor-eliminar{
  height: 10%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
