.contenedor-tarea{
  width: 300px;
  max-width: 500px;
  height: 60px;
  font-size: 20px;
  background-color: rgb(13, 13, 65);
  color: white;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completado{
  background-color: orange;
  color: red;
  text-decoration: line-through;
}

.contenedor-texto{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.contenedor-eliminar{
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
