html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

.contenedor-todo{
  background-color: white;
  width: 600px;
  max-width: 600px;
  min-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: 30px auto;
}

